html {
    --black-color: #111111;
    --white-color: #FEFEFE;
    --lightblue-color: lightblue;

    --link-text-shadow: rgb(0, 232, 241) 0 0 4px;

    background: radial-gradient(farthest-side at 50%, #2196f3, #673AB7 60% 100%);
    height: 1000px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
